.navbar{
    background: rgb(30, 30,30);
    height: 4rem;
    width: 100%;
    margin: 0 ;
    padding: 0 2rem;
    display: flex;
    align-items: center;
    justify-content:space-between;
    position: sticky;
    top: 0;
    z-index: 3;
}
.logo{
    object-fit: cover;
    height: 3rem;
    width: auto;    
}
.desktopMenu{
    display: flex;
    align-items: center;
}
.desktopMenuListItem{
    margin: 0 1.5rem;
    cursor: pointer;
    color: white;
    text-decoration: none;
    transition: color 0.3s;
    line-height: 4rem;
}
.desktopMenuListItem:hover{
    color: yellow;
    padding-bottom: 0.5rem;
    border-bottom:3px solid yellow ;
}
.desktopMenubtn{
    background: white;
    color: black;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    cursor: pointer;
    transition: 0.3s;
    height: 100%;
}
.desktopMenubtn:hover{
    background: lightgray;
}
.desktopMenuImg{
    object-fit: cover;
    height: 1rem;
    width: 1rem;
    margin-left: 0.5rem;
}
.active{
   color: yellow; 
   border-bottom: 3px solid yellow;
   padding-bottom: 0.5rem;
}